kareo.wsdl/Service References/KareoServices/KareoServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KareoServicesWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KareoServicesWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EPSDTReasonCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NU" />
      <xs:enumeration value="AV" />
      <xs:enumeration value="S2" />
      <xs:enumeration value="ST" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EPSDTReasonCode" nillable="true" type="tns:EPSDTReasonCode" />
  <xs:simpleType name="GenderCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenderCode" nillable="true" type="tns:GenderCode" />
  <xs:simpleType name="Relationship">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Child" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Self" />
      <xs:enumeration value="Spouse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Relationship" nillable="true" type="tns:Relationship" />
  <xs:simpleType name="EmploymentStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E" />
      <xs:enumeration value="R" />
      <xs:enumeration value="S" />
      <xs:enumeration value="T" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmploymentStatusCode" nillable="true" type="tns:EmploymentStatusCode" />
  <xs:simpleType name="EncounterStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Submitted" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Unpayable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EncounterStatusCode" nillable="true" type="tns:EncounterStatusCode" />
  <xs:simpleType name="PaymentMethodCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cash" />
      <xs:enumeration value="ElectronicFundsTransfer" />
      <xs:enumeration value="Check" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="CreditCard" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentMethodCode" nillable="true" type="tns:PaymentMethodCode" />
</xs:schema>